<script src="/js/profile-sidebar.js"></script>

<nav id="header">
  <a href="/home" class="logo-link">
    <img src="/images/onhand-logo.png" alt="OnHand Logo" class="logo">
  </a>
  
  <div class="nav-links">
    <a href="/home" class="{{#if (eq currentPage 'home')}}active{{/if}}">Home</a>
    <a href="/messages" class="{{#if (eq currentPage 'chatbox')}}active{{/if}}">Messages</a>
    <a href="/bookings/ongoing" class="{{#if (eq currentPage 'bookings')}}active{{/if}}">Bookings</a>
  </div>

  <button id="profileBtn" class="profile-btn" title="Account menu">
      {{#if sessionUser.profilePicture}}
        <img src="{{sessionUser.profilePicture}}" class="profile-icon">
      {{else}}
        <img src="/images/default_profile.png" class="profile-icon">
      {{/if}}
  </button>
</nav>

{{#if sessionUser}}
  <div class="profile-sidebar" id="profileSidebar" style="display: none;">
    <a href="/profile/{{sessionUser.userName}}">Profile</a>
    <a href="/logout">Log Out</a>

    {{#if (eq sessionUser.type 'provider')}}
    <div class="toggle">
      Service Provider Mode
      <label class="switch">
        <input 
          type="checkbox" 
          id="providerToggle"
          data-user-type="{{sessionUser.type}}"
          data-user-mode="{{sessionUser.mode}}"
          {{#if (eq sessionUser.mode 'provider')}}checked{{/if}}
        >
        <span class="slider"></span>
      </label>
    </div>
    {{/if}}
  </div>
{{/if}}
